* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  font-family: 'Ubuntu', sans-serif;

}

header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: 'Bungee Inline', cursive;
  font-size: 85px;

}

h2 {
  font-family: 'Bungee Inline', cursive;
  font-size: 40px;
  margin: 5px 0 5px 150px;
}

#titlestart {
  align-self: flex-start;
}

#titleend {
  align-self: flex-end;
  margin: 5px 250px 5px 0px;
}

main {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
}

aside {
  border: 1px solid black;
  font-size: 40px;
  padding: 0px 0px 0px 0px;
}

section {
  display: flex;
  flex-direction: column;

  margin: 20px 0px;
}

p {
  font-size: 40px;
}

ul {
  list-style-type: none;
}

li {
  border: 1px solid black;
}