* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

}

h1 {
  font-family: 'Bungee Inline', cursive;
  font-size: 85px;
}

h2 {
  font-family: 'Bungee Inline', cursive;
  font-size: 30px;
}